body{
	height: 0%;
	margin: 60px;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: #F9F8F7;
}

/* circle */
/* circle */
/* circle */
.circle_container{
	position: relative;
	width: 25vw;
	height: 25vw;
}
.circle_shape{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: opacity 3s ease-in-out;
}
.circle_top{
	background: linear-gradient(to top, #FFEEA3, #F3DDBE, #9BCBF2, #90BFF1);
	opacity: 1;
}
.circle_bottom{
	background: linear-gradient(to top, #87CCFF, #4E8CE9, #3A72CA, #3770C7);
	opacity: 0;
}

.happy{
	display: flex;
	align-items: end;
	width: auto;
}

.happy h1{
	transform: translateX(-40px);
}

/* oval */
/* oval */
/* oval */
.oval_container{
	position: relative;
	width: 25vw;
	height: 12.5vw;
}
.oval_shape{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: opacity 3s ease-in-out;
}
.oval_top{
	background: linear-gradient(to top, #8F8E99, #D5C6BF, #DAD2CF, #82A4BF);
	opacity: 1;
}
.oval_bottom{
	background: linear-gradient(to top, #D9C99C, #D3D4B1, #B5CEC9, #638AB6);
	opacity: 0;
}

.calm{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vw;
	transform: translateX(-0vw) translateY(-7vw);
	width: auto;
}


/* triangle */
/* triangle */
/* triangle */
.triangle_container{
	position: relative;
	width: 15vw;
	height: 12vw;
}
.triangle_shape{
	position: absolute;
	width: 0;
	height: 0;
	background: none;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	width: 100%;
	height: 100%;
	transition: opacity 3s ease;
}
.triangle_top{
	background: linear-gradient(to top, #D3D8CF, #A4B7CB, #778EB1, #778EB1);
	opacity: 1;
}
.triangle_bottom{
	background: linear-gradient(to top, #B2C4BC, #FFF6C9, #ABBFC7, #3F4B54);
	opacity: 0;
}

.hopeful{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vw;
	transform: translateX(-15vw) translateY(-10vw);
	width: auto;
}

.hopeful h1{
	transform: translateX(-5vw) ;
}


/* rhombus */
/* rhombus */
/* rhombus */
.rhombus_container{
	position: relative;
	width: 10vw;
	height: 10vw;
}
.rhombus_shape{
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg); 
	transition: opacity 3s ease;
}
.rhombus_top{
	background: linear-gradient(-45deg, #FCE26D, #212B41, #070C18, #00000C);
	opacity: 1;
}
.rhombus_bottom{
	background: linear-gradient(-45deg, #DEA181, #E8D3B1, #AAB4BC, #AAB4BC);
	opacity: 0;
}

.grateful{
	width: 100%;
	display: flex;
	justify-content: left;
	transform: translateX(35vw) translateY(-52vw);
	width: auto;
}

.grateful h1{
	transform: translateX(1vw) ;
}

/* waterdrop */
/* waterdrop */
/* waterdrop */
.waterdrop_container{
	position: absolute;
	width: 7vw;
	height: 7vw;
}
.waterdrop_shape{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius:0% 100% 100% 100%;
	transition: opacity 3s ease-in-out;
}
.waterdrop_top{
	background: linear-gradient(to top, #E9E8C6, #ABB4B3, #96C2E5, #9BA0A5);
	opacity: 1;
}
.waterdrop_bottom{
	background: linear-gradient(to top, #E29D67, #CDC0AD, #8298AB, #355684);
	opacity: 0;
}

.sad{
	display: flex;
	flex-direction: row;
	justify-content:right;
	transform: translateX(-80vw) translateY(-30vw);
	width: auto;
}

.sad h1{
	transform: translateX(3vw) ;
}

/* half-circle */
/* half-circle */
/* half-circle */
.half-circle_container{
	position: absolute;
	width: 24vw;
	height: 12vw;
}
.half-circle_shape{
	position: absolute;
	width: 100%; 
	height: 100%; 
	border-top-left-radius: 12vw; 
	border-top-right-radius: 12vw; 
	overflow: hidden;
	transition: opacity 3s ease-in-out;
}
.half-circle_top{
	background: linear-gradient(to top, #70768C, #E69F96, #D4DFE4, #7D91A9);
	opacity: 1;
}
.half-circle_bottom{
	background: linear-gradient(to top, #839494, #C9CFC4, #8FA4AD, #A4A9A7);
	opacity: 0;
}

.tired{
	display: flex;
	justify-content: right;
	transform: translateX(-10vw) translateY(-35vw);
	width: auto;
}


/* square */
/* square */
/* square */
.square_container{
	position: relative;
	width: 24vw;
	height: 24vw;
}
.square_shape{
	position: absolute;
	width: 100%; 
	height: 100%; 
	transition: opacity 3s ease-in-out;
}
.square_top{
	background: linear-gradient(to top, #D3D3C6, #CBDEE1, #A8D1F1, #5B87C6);
	opacity: 1;
}
.square_bottom{
	background: linear-gradient(to top, #CBD0C0, #C5D7D3, #B7D8E1, #6A9FDD);
	opacity: 0;
}

.neutral{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1vw;
	transform: translateX(65vw) translateY(-65vw);
	width: auto;
}



/* star */
/* star */
/* star */
.star_container{
	position: relative;
	width: 24vw;
	height: 24vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.star_shape{
	position: absolute;
	width: 25vw;  
	aspect-ratio: 1;
	clip-path: polygon(50% 0,
	calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
	calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
	calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
	calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
); 
	transition: opacity 3s ease-in-out;
}
.star_top{
	background: linear-gradient(to top, #F8FFFB, #D0E7FC, #92B7EF, #7B9DDC);
	opacity: 1;
}
.star_bottom{
	background: linear-gradient(to top, #939391, #D1A99A, #AFB1AE, #98A4AE);
	opacity: 0;
}

.energetic{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1vw;
	transform: translateX(60vw) translateY(-75vw);
	width: auto;
}
