@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

body{
	background-color: #f8f2ec;
	color: #282A2B;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

h1{
	font-family: "Bricolage Grotesque", sans-serif;
	font-weight: 400;
	margin-top: 20px;
	font-size: larger;
}

p{
	font-family: "Bricolage Grotesque", sans-serif;
	font-weight: 200;
	margin-top: 1vw;
}

a{
	font-family: "Bricolage Grotesque", sans-serif;
	font-weight: 300;
}

blockquote a:hover{
	color: #AEA9A4;
}

section{
	width: 35vw;
	transform: translateX(-10vw) translateY(-2vw) ;
}

time{
	font-family: "Bricolage Grotesque", sans-serif;
	font-weight: 100;
	font-size: small;
}

blockquote{
	position: absolute;
	background-color: white;
	width: 16vw;
	height: 16vw;
	display: flex;
	flex-direction: column;
	padding: 5vw;
	justify-content: space-between;
	transform: rotate(10deg) translateX(20vw)translateY(-2vw) ;
}

strong{
	font-weight: bolder;
}

.button{
	position: absolute;
	background-color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid 282A2B;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #AEA9A4;
}

.left{
	transform: translateX(-40vw) translateY(-20vw) ;
}

.right{
	transform: translateX(40vw) translateY(-20vw) ;}


.button:hover{
	background-color: #282A2B;
}

.button:hover a {
	color: white;
}

.sticker{
	position: absolute;
	background: #ECA9BA;
	width: 80px;
	height: 80px;
	position: relative;
	text-align: center;
	transform: rotate(20deg) scale(0.5) translateX(5vw) translateY(-14vw);
}

.sticker::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 80px;
	background: #ECA9BA;
	transform: rotate(135deg);
}